# Global file ignore

# Database files
*.db
*.sqlite
*.sqlite3

# Log files
*.log
*.log.*
logs/
**/logs/

# Data files
**/data/
backend/data/
backend/data/kalshi/
backend/data/live_data/price_history/
backend/data/live_data/live_probabilities/
backend/data/markets/

# Large CSV files
*.csv

# Virtual environments
venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Kalshi credentials and private info
backend/api/kalshi-api/kalshi-credentials/
*.pem
.env

# Log and debug files
*.sqlite3
backend/api/coinbase-api/coinbase-btc/data/btc_logger_heartbeat.txt
backend/api/coinbase-api/coinbase-btc/data/btc_price_log.txt
backend/api/kalshi-api/data/latest_market_snapshot.json
backend/api/kalshi-api/data/kalshi_logger_heartbeat.txt
logs/main_app.out.log.1

# Temporary files
*.tmp
*.temp
changes.patch
